body{
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  background-color: #f2f2f2;
  color: #000;
  text-transform: uppercase;

  font-size: 14px;
  line-height: 21px;

  display: flex;
  justify-content: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button,
input[type="submit"]{
  border: 0;
  font: inherit;
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;

  font-weight: bold;
}

a:hover,
a:focus{
  color: #81b3d2;
}

a:active{
  color: #b2b2b2;
}



img{
  max-width: 100%;
  height: auto;
}

.body-wrapper{
  min-width: 768px;
  max-width: 1200px;
  width: 100%;

  display: flex;
  flex-direction: column;

  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.main-navigation{

}

.main-navigation-items{
  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0;
  list-style: none;
  /* не рабатает с flex-basis 20% */
  /* padding-left: 6%; */
  /* padding-right: 6%; */
}
/* так работает с flex-basis 20%, но не нравится */
.main-navigation-item:first-of-type{
  margin-left: 6%;
}

.main-navigation-item:last-of-type{
  margin-right: 6%;
}


.main-navigation-item:nth-last-of-type(1),
.main-navigation-item:nth-last-of-type(2){
  text-align: right;
}


.main-navigation-item{
  box-sizing: border-box;
  flex-basis: 20%;

  padding-top: 20px;
  padding-bottom: 20px;
}

.main-navigation-item__logo{
  flex-basis: 8%;
  padding: 0;
  position: relative;
}

.main-navigation-logo{
  position: absolute;
  left: 50%;
  margin-left: -70px;

  width: 140px;
  max-width: 140px;

  z-index: 2;
}

.intro{
  margin-bottom: 35px;
}

.intro-poster{
  height: 510px;
  position: relative;
  background-color: #83b5d4;
  background-image: url('../img/intro-bg.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
}

.intro-poster::after{
  content: '';
  width: 100%;
  height: 58px;

  background-image: url('../img/intro-mask.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  bottom: 0;
}

.intro-poster-welcome{
  position: absolute;
  left: 50%;
  margin-left: -128px;
  top: 76px;
}

.intro-poster-sedona{
  position: absolute;
  left: 50%;
  margin-left: -229px;
  top: 215px;
}

.intro-poster-grand{
  position: absolute;
  left: 50%;
  margin-left: -148px;
  top: 347px;
}

.intro-h1{
  display: block;
  width: 100%;
  text-align: center;

  margin-top: 62px;

  font-size: 21px;
  line-height: 21px;
}

.benefits{
  display: flex;
  flex-direction: column;

  align-items: center;
}

.benefits-intro{
  margin: 0;
  padding: 0;

  margin-bottom: 55px;
}

.benefits-items{
  margin: 0;
  padding: 0;
  list-style: none;

  width: 100%;
}

.benefits-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.benefits-item-info{
  box-sizing: border-box;
  flex-basis: 33%;
  min-height: 257px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 40px 46px;

  background-color: #81b3d2;
  color: #fff;

}

.benefits-item-info h2{
  margin: 0;
  padding: 0;


  text-align: center;
  font-size: 21px;
  line-height: 21px;
}
.benefits-item-info p{
  margin: 0;
  padding: 0;
  margin-top: 25px;

  text-align: center;
}
.benefits-item-number{}

.benefits-item-image-wrapper{
  flex-basis: 67%;

  background-image: url('../img/benefits-1.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.benefits-item-image-wrapper-grand{
  background-image: url('../img/benefits-2.jpg');
}

.benefits-items-small{
  display: flex;
}

.benefits-item-info__gray{
  background-color: #eeeeee;
  color: black;

  flex-basis: 100%;
}

.benefits-items-more-info{
  margin: 0;
  padding: 0;
  list-style: none;

  box-sizing: border-box;
  width: 100%;

  display: flex;
}

.benefits-item-more-info{
  background-color: white;
  color: black;
}

.benefits-item-more-info h3{
  margin: 0;
  padding: 0;


  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.benefits-item-more-info-icon{
  margin-bottom: 30px;
}

.search-hotel-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 55px;
}

.search-hotel-wrapper h2{
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;

  text-align: center;
}

.search-hotel-wrapper p{
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  line-height: 24px;
  text-align: center;

  width: 500px;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #766357;
  color: #fff;
}

.btn:hover,
.btn:focus{
  color: #fff;
  background-color: #604e43;
}

.btn:active{
  color: #857871;
  background-color: #503e33;
}


.btn-blue{
  color: #fff;
  background-color: #81b3d2;
}

.btn-blue:hover,
.btn-blue:focus{
  color: #fff;
  background-color: #669ec0;
}

.btn-blue:active{
  color: #88b6d1;
  background-color: #5496bd;
}

.search-hotel-button{
    padding: 34px 140px;

    font-size: 21px;
    line-height: 26px;
}

.modal-search{
  /* display: none; */

  position: absolute;
  z-index: 10;
  left: 50%;
  margin-left: -284px;

  box-sizing: border-box;
  width: 568px;
  padding:  55px;

  background-color: #fff;
  font-weight: bold;
}

.search-input-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
  flex-grow: 1;
}

input[type="text"]{
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding-left: 12px;
  padding-right: 12px;
  height: 38px;

  text-transform: uppercase;
  font-weight: bold;

  font-family: inherit;

  border: none;
}

input[type="text"]:hover{
  background-color: #ebebeb;
}

input[type="text"]:focus{
  border: 2px solid #e5e5e5;
  background-color: #fff;
  outline: 0;
}

.search-hotel-form .search-input-date{
  width: 347px;

  padding-right: 43px;
}

.search-input-small-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-hotel-form .search-input-quantity{
  text-align: center;

  width: 114px;
}

.search-input-small-wrapper .search-input-wrapper:not(:first-of-type){
  margin-left: 39px;
}

.search-hotel-form .search-input-button{
  margin: 0;
  padding: 0;
  padding: 16px 10px;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 21px;
  line-height: 26px;
}

.main-map{
  background-color: #e9e5dc;
  position: relative;
}

.map-iframe{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  padding: 36px 0;
}

.footer section{
  flex-basis: 0;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-hashtag{
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: bold;
}

.footer-social-items{
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.footer-social-item{
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 7px;
  position: relative;

  background-color: #81b3d2;
}

.footer-social-item:hover,
.footer-social-item:focus{
  background-color: #669ec0;
}

.footer-social-item:active{
    background-color: #5496bd;
}

.footer-social-item:active::before{
  opacity: 0.3;
}

.footer-social-item::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}


.footer-social-item__Twitter::before{
  background-image: url('../img/social-twitter.svg');
}

.footer-social-item__FaceBook::before{
  background-image: url('../img/social-fb.svg');
  background-size: 15px 23px;
}

.footer-social-item__YouTube::before{
  background-image: url('../img/social-youtube.svg');
}

.footer-logo{
  margin-left: 7px;
}
