body{
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  background-color: #f2f2f2;
  color: #000;
  text-transform: uppercase;

  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;

  display: flex;
  justify-content: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button,
input[type="submit"]{
  border: 0;
  font: inherit;
  cursor: pointer;
  text-transform: inherit;
}

a{
  color: inherit;
  text-decoration: none;

  font-weight: bold;
}

a:hover,
a:focus{
  color: #81b3d2;
}

a:active{
  color: #b2b2b2;
}



img{
  max-width: 100%;
  height: auto;
}

.body-wrapper{
  min-width: 768px;
  max-width: 1200px;
  width: 100%;

  display: flex;
  flex-direction: column;

  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.main-navigation{
}

.main-navigation-items{
  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0;
  list-style: none;
}

.main-navigation-item:first-of-type{
  margin-left: 6%;
}

.main-navigation-item:last-of-type{
  margin-right: 6%;
}

.main-navigation-item{
  box-sizing: border-box;
  flex-basis: 20%;

  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 20px;
}

.main-navigation-item--right-align{
  text-align: right;
  padding-left: 20px;
  padding-right: 0;
}

.main-navigation-item--current a,
.main-navigation-item--current a:hover,
.main-navigation-item--current a:focus{
  color: #766357;
}

.main-navigation-item__logo{
  flex-basis: 8%;
  padding: 0;
  position: relative;
}

.main-navigation-logo{
  position: absolute;
  left: 50%;
  margin-left: -70px;

  width: 140px;
  max-width: 140px;

  z-index: 2;
}

.intro-poster{
  height: 510px;
  position: relative;
  background-color: #83b5d4;
  background-image: url('../img/intro-bg.jpg');
  background-position: center -55px;
  background-repeat: no-repeat;
  margin-bottom: 42px;
}

.intro-poster::after{
  content: '';
  width: 100%;
  height: 58px;

  background-image: url('../img/intro-mask.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  bottom: 0;
}

.intro-poster-welcome{
  position: absolute;
  left: 50%;
  margin-left: -128px;
  top: 76px;
}

.intro-poster-sedona{
  position: absolute;
  left: 50%;
  margin-left: -229px;
  top: 215px;
}

.intro-poster-grand{
  position: absolute;
  left: 50%;
  margin-left: -148px;
  top: 347px;
}

.intro-h1{
  display: block;
  width: 100%;
  text-align: center;

  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
}

.benefits{
  display: flex;
  flex-direction: column;

  align-items: center;
}

.benefits-intro{
  margin: 0;
  padding: 0;

  margin-bottom: 53px;
}

.benefits-items{
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.benefits-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.benefits-item--small{
  width: calc(100%/3);
}

.benefits-item-info{
  box-sizing: border-box;
  flex-basis: 33.3%;
  min-height: 257px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 40px 46px;

  background-color: #81b3d2;
  color: #fff;

}

.benefits-item-info h2{
  margin: 0;
  padding: 0;
  /* pixel perfect */
  margin-top: -12px;
  margin-bottom: 4px;


  text-align: center;
  font-size: 21px;
  line-height: 21px;
}
.benefits-item-info p{
  margin: 0;
  padding: 0;
  margin-top: 20px;

  text-align: center;
}
.benefits-item-number{}

.benefits-item-image-wrapper{
  flex-basis: 66.7%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.benefits-item-img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.benefits-items-small{
  display: flex;
}

.benefits-item-info__gray{
  background-color: #eeeeee;
  color: black;

  flex-basis: 100%;

  z-index: 2;
  position: relative;
}

.benefits-items-more-info{
  margin: 0;
  padding: 0;
  list-style: none;

  box-sizing: border-box;
  width: 100%;

  display: flex;
}

.benefits-item-more-info{
  background-color: white;
  color: black;

  padding-top: 51px;
  padding-bottom: 73px;
}

.benefits-item-more-info h3{
  margin: 0;
  padding: 0;

  margin-bottom: 4px;


  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.benefits-item-more-info-icon{
  margin-bottom: 30px;
}

.search-hotel-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 49px;
  z-index: 2;
  position: relative;
  background-color: #fff;
}

.search-hotel-wrapper h2{
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 36px;

  text-align: center;
}

.search-hotel-wrapper p{
  margin: 0;
  padding: 0;
  margin-bottom: 48px;

  line-height: 24px;
  text-align: center;

  width: 500px;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #766357;
  color: #fff;

  padding: 3px 16px;
}

.btn:hover,
.btn:focus{
  color: #fff;
  background-color: #604e43;
}

.btn:active{
  color: #857871;
  background-color: #503e33;
}


.btn-blue{
  color: #fff;
  background-color: #81b3d2;
}

.btn-blue:hover,
.btn-blue:focus{
  color: #fff;
  background-color: #669ec0;
}

.btn-blue:active{
  color: #88b6d1;
  background-color: #5496bd;
}

.search-hotel-button{
    padding: 29px 140px;

    font-size: 21px;
    line-height: 26px;
}

.modal-search{
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -284px;

  box-sizing: border-box;
  width: 568px;
  padding:  57px;

  background-color: #fff;
  font-weight: bold;

  transform: translate(0px, -400px);
  transition: transform 0.5s;
}

.modal-search--on{
  transform: translate(0px, 0px);
  transition: transform 0.5s;
}



.search-input-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
  flex-grow: 1;
}

.search-input-date-wrapper{
  position: relative;
}

.form-calendar-btn{
  position: absolute;
  top:50%;
  margin-top: -11px;
  right: 9px;

  width: 21px;
  height: 22px;

  background-image: url('../img/form-calendar-normal.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0.3;
}

.form-calendar-btn:hover,
.form-calendar-btn:focus{
  opacity: 1;
  outline: 0;
}

.form-calendar-btn:active{
  background-image: url('../img/form-calendar-blue.svg');
  outline: 0;
}

.search-input-quantity-wrapper{
  position: relative;
}

.form-input-quantity-btn{
  margin: 0;
  padding: 0;
  position: absolute;
  /* top: 50%;
  margin-top: -5.5px; */

  /* width: 11px; */
  /* height: 11px; */
  top:0;
  width: 39px;
  height: 100%;
  background: transparent;
}

.form-input-quantity-btn:hover,
.form-input-quantity-btn:focus,
.form-input-quantity-btn:active{
  outline: 0;
}

.form-input-quantity-btn::before{
  content: '';
  position: absolute;

  top:50%;
  right: 14px;
  margin-top: -1.5px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.form-input-quantity-plus::after{
  content: '';
  position: absolute;

  top:50%;
  margin-top: -5.5px;
  left: 50%;
  margin-left: -1.5px;
  width: 3px;
  height: 11px;
  background-color: #a9a9a9;
}

.form-input-quantity-btn:hover::after,
.form-input-quantity-btn:hover::before,
.form-input-quantity-btn:focus::after,
.form-input-quantity-btn:focus::before{
  background-color: #000;
}

.form-input-quantity-btn:active::after,
.form-input-quantity-btn:active::before{
  background-color: #81b3d2;
}

.form-input-quantity-minus{
  left:0;
}

.form-input-quantity-plus{
  right: 0;
}

input[type="text"]{
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding-left: 16px;
  padding-right: 16px;
  height: 38px;

  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;

  border: 2px solid #f2f2f2;
}

input[type="text"]:hover{
  background-color: #ebebeb;
}

input[type="text"]:focus{
  border: 2px solid #e5e5e5;
  background-color: #fff;
  outline: 0;
}

.search-hotel-form .search-input-date{
  width: 347px;

  padding-right: 43px;
}

.search-input-small-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-hotel-form .search-input-quantity{
  text-align: center;
  padding-left: 39px;
  padding-right: 39px;
  width: 114px;
}

.search-input-small-wrapper .search-input-wrapper:not(:first-of-type){
  margin-left: 39px;
}

.search-hotel-form .search-input-button{
  margin: 0;
  padding: 0;
  padding: 16px 10px;
  margin-top: 23px;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 21px;
  line-height: 26px;
}

.main-map{
  background-color: #e9e5dc;
  position: relative;
}

.map-iframe{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-overlay{
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.map-overlay--on{
  display: block;
}

.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  padding: 36px 0;
}

.footer section{
  flex-basis: 0;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-hashtag{
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: bold;
}

.footer-social-items{
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.footer-social-item{
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 7px;
  position: relative;

  background-color: #81b3d2;
}

.footer-social-item:hover,
.footer-social-item:focus{
  background-color: #669ec0;
}

.footer-social-item:active{
    background-color: #5496bd;
}

.footer-social-item:active::before{
  opacity: 0.3;
}

.footer-social-item::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}


.footer-social-item__Twitter::before{
  background-image: url('../img/social-twitter.svg');
}

.footer-social-item__FaceBook::before{
  background-image: url('../img/social-fb.svg');
  background-size: 15px 23px;
}

.footer-social-item__YouTube::before{
  background-image: url('../img/social-youtube.svg');
}

.footer-logo{
  margin-left: 7px;
}

.filters{
  padding: 30px 6%;

  background-image: url('../img/filters-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.filters-form{
  display: flex;

  color: #fff;
}

.filters fieldset{
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 100px;

  display: flex;
  flex-direction: column;
}

.filters legend{
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;

  margin-bottom: -5px;
}

.filters-column-wrapper{
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.filters-column-wrapper fieldset{
  margin-right: 0;
}

.filters-form input[type="checkbox"]{
  display: none;
}

.label-checkbox{
    position: relative;

    padding-left: 40px;
    margin-top: 30px;
}

.label-checkbox::before{
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 23px;
  height: 23px;

  background-image: url('../img/checkbox-off.svg');
}

input[type="checkbox"]:checked + .label-checkbox::before{
  width: 27px;
  background-image: url('../img/checkbox-on.svg');
}

.price-wrapper{
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  border-radius: 3px;

  display: flex;
  position: relative;

  box-sizing: border-box;
  width: 225px;
}

.price-wrapper::before{
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  background-color: #fff;
}

.price-wrapper label{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 5px;
}

.filters-form .input-price,
.filters-form .input-price:hover,
.filters-form .input-price:focus{
  margin: 0;
  padding: 0;
  margin-left: 5px;
  border: 0;
  background-color: transparent;
  color: #fff;
  height: 21px;
  width: 40px;

  font-size: 14px;
  font-weight: normal;
}

.range-wrapper{
  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255,0.3);
  margin-bottom: 30px;
  position: relative;
}

.range-circle{
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  top:-10px;
}

.range-circle::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  left: 50%;
  margin-left: -2px;
  top:50%;
  margin-top: -2px;
  border-radius: 50%;
  background-color: #ababab;
}

.range-min{
  left: 0px;
}

.range-max{
  right: 15px;
}

.range-middle{
  position: absolute;
  height: 2px;
  left: 0px;
  right: 15px;
  background-color: #fff;
}

.button-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: auto;
}

.filters-form button{
  background-color: transparent;
  color: #fff;
  padding: 5px 35px;
  text-transform: uppercase;

  border-radius: 3px;
  border: 2px solid #fff;
}

.filters-form button:hover,
.filters-form button:focus{
  background-color: #fff;
  color: #000;
}

.sort{
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 30px;
  padding-bottom: 30px;

  display: flex;
  align-items: baseline;
}

.sort-total{
  padding: 0;
  margin: 0;
  font-size: 21px;
  font-weight: 26px;
  font-weight: bold;
  margin-right: 50px;
}

.sort-links{
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 12px;
  line-height: 18px;

  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.sorts-links--header{
  margin-right: 40px;
}

/* .sort-links li{
padding-right: 35px;
} */

.sort-link{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  margin-right: 35px;
}

.sort-link:hover,
.sort-link:focus{
  color: #81b3d2;
}

.sort-link:focus{
  color: #000;
  border-bottom: transparent;
}

.sort-link--current{
  color: #81b3d2;
  border-bottom: transparent;
}

.sort-directions{
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;

  display: flex;
  align-items: baseline;
}

.sort-directions li{
  margin-left: 12px;
  position: relative;

  box-sizing: border-box;
  width: 11px;
  height: 11px;
}

.sort-direction{
  position: absolute;
  top:2px;
  right: 0;
  border-bottom: 10px solid #cacaca;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.sort-direction:hover,
.sort-direction:focus{
  border-bottom-color: #000;
}

.sort-direction:active{
  border-bottom-color: #81b3d2;
}

.sort-direction--down{
  transform: rotate(180deg);
}

.sort-direction--current{
  border-bottom-color: #81b3d2;
}

.sort-direction--current:hover,
.sort-direction--current:focus{
  border-bottom-color: #81b3d2;
}

.sort-direction--current:active{
  border-bottom-color: #81b3d2;
}

.hotels-items{
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-item{
  padding: 30px 6%;
  margin-bottom: -1px;

  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  display: flex;
}

.hotels-img{
  width: 135px;
  height: 90px;
}

.hotels-info-main{
  margin-left: 31px;
  display: flex;
  flex-direction: column;
}

.hotels-info-main h2{
  padding: 0;
  margin: 0;
  margin-bottom: 5px;

  font-size: 21px;
  line-height: 26px;
}

.hotels-info-main p{
  padding: 0;
  margin: 0;

  display: flex;

  position: relative;

  font-size: 14px;
}

.price{
  position: absolute;
  left: 116px;
}


.hotels-info-main p:last-child{
  margin-top: auto;
}

.hotels-info-main .btn{
  margin-right: 6px;
}

.hotels-left-column{
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars{
  display: flex;
  flex-direction: row-reverse;
}

.star{
  width: 18px;
  height: 16px;
  margin-left: 5px;

  background-image: url("../img/star.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.rate-wrapper{
  margin: 0;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 110px;

  background-color: #f2f2f2;
}
